<!-- ======= Sidebar ======= -->
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar" style="right: 0; left: auto;" dir="rtl">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link collapsed" href="{{ url_for('main.admin_insured') }}">
        <i class="bi bi-grid"></i>
        <span>דף הבית</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#inventory-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>מבוטחים</span><i class="bi bi-chevron-down me-auto"></i>
      </a>
      <ul id="inventory-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li id="countStock">
          <a href="{{ url_for('main.admin_insured') }}">
            <i class="bi bi-circle"></i><span>ניהול מבוטחים</span>
          </a>
        </li>

      </ul>
    </li>


    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#admin-nav" data-bs-toggle="collapse">
        <i class="bi bi-wrench"></i><span>עדכוני מערכת</span><i class="bi bi-chevron-down me-auto"></i>
      </a>
      <ul id="admin-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li id="admin">
          <a href="{{ url_for('main.admin_users') }}">
            <i class="bi bi-circle"></i><span>משתמשים</span>
          </a>
        </li>
        <li id="investigators">
          <a href="{{ url_for('main.admin_investigators') }}">
            <i class="bi bi-circle"></i><span>חוקרים</span>
          </a>
        </li>
        <li id="logs">
          <a href="{{ url_for('main.admin_logs') }}">
            <i class="bi bi-circle"></i><span>לוגים</span>
          </a>
        </li>
        <li id="userActivity">
          <a href="{{ url_for('main.user_activity') }}">
            <i class="bi bi-circle"></i><span>פעילות משתמש</span>
          </a>
        </li>
      </ul>
    </li>



    <li class="nav-item" id="openai">
      <a class="nav-link collapsed" href="{{ url_for('main.ChatGPT') }}">
        <i class="bi bi-robot"></i>
        <span>360 עוזר חכם</span>
      </a>
    </li>

<li class="nav-item" id="tasks_admin">
  <a class="nav-link collapsed" href="{{ url_for('main.admin_tasks') }}">
    <i class="bi bi-list-task"></i>
    <span>משימות</span>
  </a>
</li>


<li class="nav-item" id="appointments_admin">
  <a class="nav-link collapsed" href="{{ url_for('main.admin_appointments') }}">
    <i class="bi bi-calendar-event"></i>
    <span>ארועים</span>
  </a>
</li>




    <li class="nav-item" id="appointments">
      <a class="nav-link collapsed" href="{{ url_for('main.appointments_calendar') }}">
        <i class="bi bi-calendar3"></i>
        <span>לוח ארועים</span>
      </a>
    </li>


  </ul>
</aside>


<!-- End Sidebar-->


<script>
    var roles = {{ roles | tojson }};
    var user_role = "{{user.role}}";
    disableControlsPerRole(roles,user_role);
</script>
